.popup .form-wrapper {
    height: unset;
}
#callback_form .form-content,
#free_visit_form .form-content {
    height: unset;
    padding-bottom: 3em;
}

.popup .form-content .process-send__error {
    font-size: 1.2em;
    color: red;
    text-shadow: 1px 1px 0.05em black;
    padding: 1em .7em;
}

.popup .form-content .process-send__success {
    font-size: 1.4em;
    height: 24vh;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanks .form-content p.process-send__success {
    height: unset;
}

#banner-form .process-send__error {
    font-size: 0.9em;
    color: red;
    text-shadow: 1px 1px 0.05em #461a1a;
    padding: .5em;
}

#banner-form .process-send__success,
#card_order .process-send__success {
    margin-top: 1.3em;
}

#card_order .process-send__error {
    font-size: 1em;
    color: red;
    padding: .5em;
}

#footer_form .process-send__error {
    font-size: 1em;
    color: red;
    padding: .5em;
}

.popup .form-content input[type='text'].process-send-input__error,
.popup .form-content input[type='tel'].process-send-input__error,
#banner-form input[type='text'].process-send-input__error,
#banner-form input[type='tel'].process-send-input__error,
#card_order input[type='text'].process-send-input__error,
#card_order input[type='tel'].process-send-input__error {
    border: 3px solid red;
}

#gallery .uni-slider {
    overflow: hidden;
    position: relative;
    max-width: 900px;
}

#services .srv-slider {
    overflow: hidden;
    position: relative;
    max-width: none;
}

.advantages-slider .adv-slider {
    overflow: hidden;
    position: relative;
    max-width: none;
    padding: 0;
    width: 95%;
}

#gallery .uni-slider__wrap,
#services .srv-slider__wrap,
#mozaika #adv-slider.adv-slider__wrap {
    display: flex;
    transition: transform 0.5s;
    will-chahge: transform;
    padding: 0;
 }

 #services .srv-slider__item {
    margin: 0;
 }

 html#mozaika #adv-slider .adv-slider__item:first-child {
     margin-left: 0;
 }

 html#mozaika #adv-slider .adv-slider__item {
     margin-left: 0;
     margin-right: 0;
 }
 
 #gallery .uni-slider__prev,
 #services .srv-slider__prev,
 #gallery .uni-slider__next,
 #services .srv-slider__next {
     position: absolute;
     top: 50%;
     margin-top: -18px;
     z-index: 100;
     cursor: pointer;
     padding: 13px 15px;
     background-color: #ffd11a;
     border-radius: 50%;

 }
 #services .srv-slider__prev,
 #services .srv-slider__next {
     top: 25%;
 }
 #gallery .uni-slider__next,
 #services .srv-slider__next {
     right: 0;
 }
 #gallery .uni-slider__prev,
 #services .srv-slider__prev {
     left: 0;
 }

 #gallery .uni-slider-dots {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 8%;
}
#gallery .uni-slider-dots__item {
    padding-bottom: 5px;
    background-color: white;
    width: 35px;
    border-radius: 20px;
    cursor: pointer;
}
#gallery .uni-slider-dots__item:not(:last-child) {
    margin-right: 10px;
}
#gallery .uni-slider-dots__item_active {
    background-color: #ffd11a;
}

header nav.top-window {
    position: fixed;
    top: 0;
    z-index: 9999;
    opacity: 0.75; 
}

nav.popup-menu {
    display: flex;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

nav.popup-menu.active {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

#totop {
    display: unset;
    opacity: 0;
}

#totop.visible {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}

#totop.unvisible {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}